[tool.poetry]
name = "jumpstarter"
version = "0.1.0"
description = ""
authors = ["Omer Katz <omer.drow@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.7.0"
transitions-anyio = "^0.2.0"
transitions = { version = "^0.8.6", extras = ['diagrams'] }
isort = "^5.7.0"
wrapt = "^1.12.1"

[tool.poetry.extras]
diagrams = ["transitions"]

[tool.poetry.dev-dependencies]
pytest = "^6.0"
pytest-subtests = "^0.3"
pytest-randomly = "^3.4"
trio = "^0.17"
black = "^20.8b1"
mock = { version = "^4.0.3", python = "< 3.8" }
pytest-cov = "^2.11.1"
pytest-monkeytype = "^1.1.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
